@import '@/styles/variables.module.scss';

.wrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	width: 100%;
	background-color: $color-10;
	text-align: center;
}
.header{
	color: $color-1;
	font-weight: 100;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	// height: 60vh;

	&__search {
		width: $size-11;
		height: $size-6;
		background-color: #fff;
	}
}

.banner {
	width: inherit;
	padding-bottom: $size-6;
	&__line {
		display: flex;
		justify-content: space-between;
	}

	&__icon {
		width: 64px;
		height: 64px;
	}
}

.pd_left {
	padding-left: $size-7;
}

.pd_right {
	padding-right: $size-7;
}

.icon1 {
	background-image: url(../../../public/img/banner/0140-m.svg);
}

.icon2 {
	background-image: url(../../../public/img/banner/0195-m.svg);
}

.icon3 {
	background-image: url(../../../public/img/banner/0050-m.svg);
}

.icon4 {
	background-image: url(../../../public/img/banner/0099-m.svg);
}

.icon5 {
	background-image: url(../../../public/img/banner/0226-m.svg);
}

.icon6 {
	background-image: url(../../../public/img/banner/0197-m.svg);
}


.icon7 {
	background-image: url(../../../public/img/banner/0117-m.svg);
}

.icon8 {
	background-image: url(../../../public/img/banner/0129-m.svg);
}

.icon9 {
	background-image: url(../../../public/img/banner/0024-m.svg);
}

.icon10 {
	background-image: url(../../../public/img/banner/0026-m.svg);
}

.icon11 {
	background-image: url(../../../public/img/banner/0126-m.svg);
}

.icon12 {
	background-image: url(../../../public/img/banner/0187-m.svg);
}
