@import '@/styles/variables.module.scss';

.wrapper {
	box-sizing: border-box;
	justify-content: center;
	width: 100%;
	background-color: $color-10;
	text-align: center;
}

.header {
	color: $color-1;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	
	&__search {
		width: 100%;
		max-width: $size-11;
		height: $size-6;
		background-color: $color-8;
	}
}

.banner {
	width: inherit;
	padding-bottom: $size-6;
	box-sizing: border-box;

	&__line_1 {
		display: flex;
		justify-content: space-between;
		padding-left: $size-7;
		padding-bottom: $spacing-xxxl;
	}

	&__line_2 {
		display: flex;
		justify-content: space-between;
		padding-right: $size-7;
	}

	&__icon {
		width: $size-6;
		height: $size-6;
		background-size: cover;
	}
}

.icon1 {
	background-image: url(../../../public/img/banner/0140-m.svg);
}

.icon2 {
	background-image: url(../../../public/img/banner/0195-m.svg);
}

.icon3 {
	background-image: url(../../../public/img/banner/0050-m.svg);
}

.icon4 {
	background-image: url(../../../public/img/banner/0099-m.svg);
}

.icon5 {
	background-image: url(../../../public/img/banner/0226-m.svg);
}

.icon6 {
	background-image: url(../../../public/img/banner/0197-m.svg);
}


.icon7 {
	background-image: url(../../../public/img/banner/0117-m.svg);
}

.icon8 {
	background-image: url(../../../public/img/banner/0129-m.svg);
}

.icon9 {
	background-image: url(../../../public/img/banner/0024-m.svg);
}

.icon10 {
	background-image: url(../../../public/img/banner/0026-m.svg);
}

.icon11 {
	background-image: url(../../../public/img/banner/0126-m.svg);
}

.icon12 {
	background-image: url(../../../public/img/banner/0187-m.svg);
}


//! Планшеты и маленькие десктопы
@media (min-width: 701px) and (max-width: 1120px) {
	.banner {
		padding-bottom: $size-4;

		&__line_1 {
			padding-left: $size-6;
			padding-bottom: $spacing-xxl;
		}

		&__line_2 {
			padding-right: $size-6;
		}
	}

}

//! Мобилки
@media (max-width: 700px) {
	.container__search {
		height: $size-5;
	}
	.banner {
		padding-bottom: $size-3;

		&__line_1 {
			padding-left: $size-3;
			padding-bottom: $spacing-xl;
		}

		&__line_2 {
			padding-right: $size-3;
		}

		&__icon {
			width: $size-4;
			height: $size-4;
		}
	}


}
