@import '@/styles/variables.module.scss';

.wrapper {
	display: flex;
	flex-wrap: wrap;
}
.flex_container {
	display: flex;
}

.width_third {
	min-width: 33%;
	// background-color: aqua;
}
.container_mixer {
	display: flex;
	flex-direction: column;
}

//! Мобилки
@media (max-width: 700px) {
	.wrapper {
		justify-content: center;
	}
	.flex_container {
		flex-direction: column;
	}
	.width_third {
		padding-bottom: $spacing-xxl;
	}
	.container_mixer {
		align-items: center;
	}
}