@import '@/styles/variables.module.scss';

.logo {
	//! ширина должна быть равной ширине блоку иконок справа
	width: $size-7;
	height: $size-2;
	background-image: url('../../../public/img/logo-light.svg');
	pointer-events: painted;
}
