@import '@/styles/variables.module.scss';

.logo {
	pointer-events: painted;
	width: $size-8;
	height: $size-4;
	// width: $size-7;
	background-image: url('../../../public/img/logo-light.svg');
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
