@import '@/styles/variables.module.scss';

.nav_btn_container {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: $size-8;
	order: 3;
	float: right;

	[data-title]:after {
		margin-top: 200%;
	}
}

.nav_btn {
	display: block;
	width: $size-2;
	height: $size-2;

	&__1 {
		background-image: url(../../../public/img/icon-0375-s.svg);
	}

	&__1_active {
		background-image: url(../../../public/img/icon-0375-s-active.svg);
	}

	&__2 {
		background-image: url(../../../public/img/icon-0172-s.svg);
	}

	&__2_active {
		background-image: url(../../../public/img/icon-0172-s-active.svg);
	}

	&__3 {
		background-image: url(../../../public/img/icon-0193-s.svg);
	}

	&__3_active {
		background-image: url(../../../public/img/icon-0193-s-active.svg);
	}

	&__4 {
		background-image: url(../../../public/img/icon-0378-s.svg);
	}

	&__4_active {
		background-image: url(../../../public/img/icon-0378-s-active.svg);
	}
}