@import '@/styles/variables.module.scss';

.nav_btn_container {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: inherit;
	order: 3;
	float: right;

	[data-title]:after {
		margin-top: 200%;
	}
}

.nav_btn {
	display: block;
	width: $size-2;
	height: $size-2;

	&__home {
		background-image: url(../../../public/img/icon-0375-s.svg);
	}

	&__home_active {
		background-image: url(../../../public/img/icon-0375-s-active.svg);
	
	}
	&__gallery {
		background-image: url(../../../public/img/icon-gallery-s.svg);
	}

	&__gallery_active {
		background-image: url(../../../public/img/icon-gallery-s-active.svg);
	}

	&__instructions {
		background-image: url(../../../public/img/icon-0172-s.svg);
	}

	&__instructions_active {
		background-image: url(../../../public/img/icon-0172-s-active.svg);
	}

	&__legal {
		background-image: url(../../../public/img/icon-0193-s.svg);
	}

	&__legal_active {
		background-image: url(../../../public/img/icon-0193-s-active.svg);
	}

	&__pdf {
		background-image: url(../../../public/img/icon-0378-s.svg);
	}

	&__pdf_active {
		background-image: url(../../../public/img/icon-0378-s-active.svg);
	}
}