@import '@/styles/variables.module.scss';

.header_section {
	width: 100%;
	height: $size-7;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: $color-10;

	&__container {
		height: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.left_side {
	//! ширина должна быть равной ширине right_side
	width: calc($size-8 + $size-3);
	// background-color: gray;
}

.right_side {
	//! ширина должна быть равной ширине left_side
	width: calc($size-8 + $size-3);
	// background-color: gray;
}

.center_part {
	width: 100%;
	max-width: $breakpoint-m;
	height: $size-5;
	padding: 0 $spacing-xl;
	box-sizing: border-box;
	// background-color: gray;
}

//! Мобилки
@media (max-width: 700px) {

	.header_section__container {
		flex-wrap: wrap;
	}

	.left_side {
		order: 1;
		width: $size-7;
	}

	.right_side {
		order: 2;
	}

	.center_part {
		order: 3;
		padding: 0;
		// height: $size-4;
		height: calc($size-4 + $size-1);
	}
}