@import '@/styles/variables.module.scss';

.header_section {
	width: 100%;
	height: $size-7;
	top: 0;
	position: sticky;
	z-index: 100;
	background-color: $color-10;

	&__container {
		height: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.left_side {
	//! ширина должна быть равной ширине right_side
	width: $size-8;
	// background-color: gray;
}

.right_side {
	//! ширина должна быть равной ширине left_side
	width: $size-8;
	// background-color: gray;
}

.center_part {
	max-width: $breakpoint-s;
	width: 100%;
	height: $size-5;
	// background-color: gray;
}